.navbar .navbar-menu-wrapper,
.sidebar-dark .navbar .navbar-brand-wrapper {
    background: #242135;
}

.sidebar-dark .sidebar {
    background: #393e5e;
}

.small {
    font-size: 80%;
    font-weight: 400;
    max-width: 100%;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    width: 100%;
}
