@font-face {
    font-family: 'Circle Rounded';
    src: url('../fonts/Circe\ Rounded\ W03\ Regular.ttf') format('truetype');
    font-weight: regular;
}

@font-face {
    font-family: 'SF Pro Display Light';
    src: url('../fonts/SF Pro Display/SF-Pro-Display-Light.otf') format('opentype');
    font-weight: light;
}

@font-face {
    font-family: 'SF Pro Display Medium';
    src: url('../fonts/SF\ Pro\ Display/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: medium;
}

@font-face {
    font-family: 'SF Pro Display Semibold';
    src: url('../fonts/SF Pro Display/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: semibold;
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('../fonts/SF Pro Display/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'SF Pro Display Italic';
    src: url('../fonts/SF\ Pro\ Display/SF-Pro-Display-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

.sf-700-font {
    font-family: SF Pro Display Semibold;
}

.sf-500-font{
    font-family: SF Pro Display Medium;
}

.sf-400-font{
    font-family: SF Pro Display Light;
}
