/* ANIMATION */

@keyframes icon_disappear {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes icon_disappear {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@-webkit-keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}



@keyframes icon_appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@-webkit-keyframes icon_appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}


@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-120px);
        transform: translateX(-120px);
        display: none;
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-120px);
        transform: translateX(-120px);
    }
}


/* GENERAL */

p,
a,
h5 {
    font-family: SF Pro Display Medium;
}

.white-grey-clr-bg {
    background-color: #f2f3f4;
}

.grey-clr-bg {
    background-color: #4d545e;
}

.grey-clr-txt {
    color: #4d545e;
}

.dark-grey-clr-txt {
    color: #333333;
}

.light-grey-clr-txt {
    color: #848e9d;
}

.light-grey-clr-bg {
    background-color: #848e9d;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.navbar-brand img {
    width: 15vw;
    min-width: 170px;
    max-width: 280px;
}


.caption {
    font-family: "SF Pro Display Bold";
    font-size: 2.5rem;
    padding: 0;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
}

.caption_line {
    width: 100px;
    height: 6px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 50px;
}


.menu_panel {
    position: relative;
    bottom: 15px;
}

.menu_panel ul li a {
    font-size: 1.1rem;
}

.main-footer {
    padding: 35px;
    padding-bottom: 0;
    position: relative;
    background-color: #4d545e;
}

footer a:hover {
    color: #cecece;
    text-decoration: none;
}

footer ul li a,
footer ul li p {
    font-family: SF Pro Display Medium;
    font-size: 1.1rem;
    color: #cecece;
}

.main-footer .navigation a {
    line-height: 2;
}

.main-footer .contact p {
    line-height: 1.5;
}


footer h5 {
    color: #ffffff;
    margin-bottom: 20px;
}

footer i {
    color: #ffffff;
    font-size: 1.2rem;
}

footer .contact img {
    width: 20px;
}

.copyright {
    color: #ffffff;
    text-align: center;
    font-family: SF Pro Display Light;
    font-size: 18px;
    line-height: 79px;
    margin-bottom: o;
}

.company p {
    line-height: 1.35;
    font-size: 1.1rem;
}

.company .main-logo {
    width: 200px;
    margin-bottom: 20px;
}

.up-btn {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    display: none;
    cursor: pointer;
    color: #898989;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .5));
}

.carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: #848e9d;
    border: 1px transparent solid;
    border-radius: 16px;
    opacity: 1;
}

.carousel-indicators .active {
    background-color: #4d545e;
}

/* BUTTONS */
.btn {
    font-family: SF Pro Display Medium;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 1;
    border-radius: 0;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn-white-border,
.btn-white:hover {
    border: 2px solid #ffffff;
    color: #ffffff !important;
    background: none;
}

.btn-white,
.btn-white-border:hover {
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #4D545E !important;
}


.btn-black-border {
    border: 2px solid #4d545e;
    color: #4d545e !important;
    padding-top: 12px;
    padding-bottom: 12px;

}

.btn-grey {
    background-color: #848e9d;
    color: #ffffff;
    border-radius: 2px !important;
}

.btn-grey:hover {
    background-color: #4D545E;
    color: #ffffff;
}

.page-header {
    background-image: url('../image/main-image.png');
    background-size: cover;
    background-position-y: 50%;
}

.nav-item a {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 6px;
    margin-right: 6px;
}

.navigation {
    height: 39px;
    line-height: 39px;
    margin-bottom: 70px;
}

.navigation li {
    display: inline-block;
    padding-right: 20px;
}

.navigation li {
    font-size: 1.1rem;
    font-family: SF Pro Display Medium;
}

.social-frame {
    width: 120px;
    overflow: hidden;
    position: relative;
}

.social-icons-frame {
    position: absolute;
    z-index: 0;
}


.social-icons1 {
    -webkit-animation: scale-down-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-down-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.social-icons2 {
    -webkit-animation: scale-down-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
    animation: scale-down-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
}

.social-icons3 {
    -webkit-animation: scale-down-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
    animation: scale-down-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
}


.social-link {
    position: absolute;
    z-index: 1;
    -webkit-animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.social-frame:hover .social-icons1 {
    display: block;
    -webkit-animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000)0.6s both;
    animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
}

.social-frame:hover .social-icons2 {
    display: block;
    -webkit-animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000)0.3s both;
    animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
}

.social-frame:hover .social-icons3 {
    display: block;
    -webkit-animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.social-frame:hover .social-link {
    -webkit-animation: slide-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* MAIN */

.main_header {
    background-image: url('../image/main-image.png');
    background-size: cover;
    width: 100%;
    background-position: 100% 50%;
    padding: 20px 2vw 89px 4.53vw;
}

.main_caption p {
    color: white;
    font-size: 3rem;
    font-family: 'Circle Rounded';
    text-align: center;
    line-height: 1.2;
}

.main_caption .btn {
    margin-top: 30px;
}

.main_caption .btn:first-of-type {
    margin-right: 20px;
}

section.main {
    padding-top: 40px;
    padding-bottom: 50px;
}

.clients_icon {
    height: 210px;
    padding-bottom: 30px
}

.clients_btn {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.reviews .review_main {
    text-align: justify;
    font-family: SF Pro Display Italic;
    font-size: 1.2rem;
    padding-top: 35px;
    padding-bottom: 20px;
    color: #333333;
}

.reviews .review_author_photo {
    width: 110px;
}

.reviews .review_author {
    margin-top: 17px;
    font-size: 1.2rem;
}

.reviews .review_text {
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 1.1rem;
}

.company>img {
    width: 14.8vw;
}

.news_slider .card {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 18px;
}

.news_slider_img {
    min-width: 188px;
    width: 100%;
}

.news_animation_block {
    position: relative;
}

.news_link {
    position: absolute;
    background-color: #4D545E;
    color: white;
    padding: 4px;
    border-radius: 31.5px;
    top: 40%;
    left: 38%;
    display: none;
}

.news_link_icon {
    position: absolute;
    background-color: #4D545E;
    color: white;
    padding: 4px;
    border-radius: 31.5px;
    top: 40%;
    left: 45%;
    display: none;
}

.news_slider_img:hover {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);

    transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
}

.news_animation_block:hover .news_link_icon {
    display: block;
    animation: icon_disappear 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.news_animation_block:hover .news_link {
    display: block;
    animation: icon_appearance 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.news_animation_block:hover .news_slider_img {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
}


#page-container {
    position: relative;
    min-height: 99.9vh;
}

#content-wrap {
    padding-bottom: 81px;
}

.second-footer {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 81px;
    margin-top: 40px;
}


/* News-list */
.news_list_content {
    min-height: 50vh;
}

.news_list_img {
    width: 100%;
    min-width: 188px;
}

/* News */
.news_title {
    padding-top: 6px;
    padding-bottom: 16px;
    font-family: SF Pro Display Medium;
    color: #4d545e;
}

.news_image {
    width: 100%;
    margin-bottom: 24px;
}

.calendar-icon {
    margin-right: 10px;
    width: 20px;
    vertical-align: text-bottom;
}

/* PRODUCTS */
#products_slide .carousel-item img {
    width: 100%;
}

.product_desc {
    font-size: 1.1rem;
    padding-top: 30px;
    padding-bottom: 50px;
}

/* REVIEWS */

.pagination {
    margin-top: 35px;
}

.page-item {
    margin-right: 20px;
}

.page-item:last-of-type {
    margin-right: unset;
}

.page-link {
    border: none;
    color: #464A4B;
}

.page-link:hover {
    color: #464A4B;
}

.page-item.active .page-link {
    background-color: #848E9D;
    color: #ffffff;
    border-radius: 2px;
}

.review_quotes {
    position: absolute;
    top: -25px;
    left: 940px;
}

.reviews_content .review_text {
    text-align: justify;
    font-family: SF Pro Display Italic;
    font-size: 1.2rem;
}

.review_author_photo img {
    width: 70px;
    margin-right: 10px;
}


.reviews_content .review_author {
    color: #333333;
    font-size: 1.2rem;
}

.review_separator {
    background-color: #e1e4e8;
    height: 3px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px
}

/* CONTACT */
.contact-us_btn {
    /* height: 40px; */
}

.contacts a,
.contacts p,
.contacts a:hover {
    color: #4d545e;
    text-decoration: none;
    /* font-size: 1.1rem; */
    font-family: SF Pro Display Medium;
}

.contacts h5 {
    font-family: SF Pro Display Medium;
}

.contacts i {
    color: #4d545e;
}

.information input,
.information textarea {
    font-family: SF Pro Display Light;
    color: #747d8a;
}