/* GENERAL */
.white-clr-bg {
    background-color: #ffffff;
}

.white-grey-clr-bg {
    background-color: #f2f3f4;
}

.grey-clr-bg {
    background-color: #4d545e;
}

.white-clr-txt{
    color: #ffffff;
}

.grey-clr-txt {
    color: #4d545e;
}

.dark-grey-clr-txt {
    color: #333333;
}

.light-grey-clr-txt {
    color: #848e9d;
}

.light-grey-clr-bg {
    background-color: #848e9d;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.navbar-brand img {
    width: 15vw;
    min-width: 170px;
    max-width: 280px;
}


.caption {
    font-family: "SF Pro Display Bold";
    font-size: 2.5rem;
    padding: 0;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
}

.caption_line {
    width: 100px;
    height: 6px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 50px;
}


.menu_panel {
    position: relative;
    bottom: 15px;
}

.menu_panel ul li a {
    font-size: 1.1rem;
}

.main-footer {
    padding: 35px;
    position: relative;
    background-color: #4d545e;
}

footer a:hover {
    color: #cecece;
    text-decoration: none;
}

footer ul li a,
footer ul li p {
    font-family: SF Pro Display Medium;
    font-size: 1.1rem;
    color: #cecece;
}

.main-footer .navigation a {
    line-height: 2;
}

.main-footer .contact p {
    line-height: 1.5;
}


footer h5 {
    color: #ffffff;
    margin-bottom: 20px;
}

footer i {
    color: #ffffff;
    font-size: 1.2rem;
}

footer .contact img {
    width: 20px;
}

.company p {
    line-height: 1.35;
    font-size: 1.1rem;
}

.company .main-logo {
    width: 200px;
    margin-bottom: 20px;
}

.up-btn {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    display: none;
    cursor: pointer;
    color: #898989;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .5));
}

.copyright {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}


.carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: #848e9d;
    border: 1px transparent solid;
    border-radius: 16px;
    opacity: 1;
}

.carousel-indicators .active {
    background-color: #4d545e;
}

/* BUTTONS */
.btn {
    font-family: SF Pro Display Medium;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 1;
    border-radius: 0;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn-white-border,
.btn-white:hover {
    border: 2px solid #ffffff;
    color: #ffffff !important;
    background: none;
}

.btn-white,
.btn-white-border:hover {
    background-color: #ffffff;
    color: #4D545E !important;
}


.btn-black-border {
    border: 2px solid #4d545e;
    color: #4d545e !important;
    padding-top: 12px;
    padding-bottom: 12px;

}

.btn-grey {
    background-color: #848e9d;
    color: #ffffff;
    border-radius: 2px !important;
}

.page-header {
    background-image: url('../image/main-image.png');
    background-size: cover;
    background-position-y: 50%;
}

.navigation {
    height: 39px;
    line-height: 39px;
    margin-bottom: 70px;
}

.navigation li {
    display: inline-block;
    padding-right: 20px;
}

.navigation li {
    font-size: 1.1rem;
    font-family: SF Pro Display Medium;
}

/* MAIN */

.main_header {
    /* height: 100%; */
    padding: 20px 2vw 89px 4.53vw ;
}

.bkg_img {
    position: fixed;
    z-index: -1000;
    background-image: url('../image/main-image.png');
    background-size: cover;
    width: 100%;
    height: 45vh;
    background-position-x: 100%;
    background-position-y: 50%;
    /* background-position: center; */

}

.main_caption p {
    color: white;
    font-size: 3rem;
    font-family: 'Circle Rounded';
    text-align: center;
    line-height: 1.2;
}

.main_caption .btn {
    margin-top: 30px;
}

.main_caption .btn:first-of-type {
    margin-right: 20px;
}



section.main {
    padding-top: 40px;
    padding-bottom: 50px;
}


.clients_icon {
    height: 210px;
    padding-bottom: 30px
}

.clients_btn {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.reviews .review_main {
    text-align: justify;
    font-family: SF Pro Display Italic;
    font-size: 1.2rem;
    padding-top: 35px;
    padding-bottom: 20px;
    color: #333333;
}

.reviews .review_author_photo {
    width: 110px;
}

.reviews .review_author {
    margin-top: 17px;
    font-size: 1.2rem;
}

.reviews .review_text {
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 1.1rem;
}

.company>img {
    width: 14.8vw;
}

.news_slider_img {
    min-width: 188px;
    width: 100%;
}

.news_slider .card {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 18px;
}


/* .news_img:hover {
    animation: change 2s 1ms 1 forwards;
} */

@keyframes change {
    0% {
        background-image: url('../image/news_image.png');
    }

    40% {
        background-image: url('../image/news_image_2.png');
    }

    100% {
        background-image: url('../image/news_image_3.png');
    }
}


/* News-list */
.news_list_content {
    min-height: 50vh;
}

.news_list_img {
    width: 100%;
    min-width: 188px;
}

/* News */
.news_title {
    padding-top: 6px;
    padding-bottom: 16px;
    font-family: SF Pro Display Medium;
    color: #4d545e;
}

.news_image {
    width: 100%;
    margin-bottom: 24px;
}

.calendar-icon {
    margin-right: 10px;
    width: 20px;
    vertical-align: text-bottom;
}

/* PRODUCTS */
#products_slide .carousel-item img {
    width: 100%;
}

.product_desc {
    font-size: 1.1rem;
    padding-top: 30px;
    padding-bottom: 50px;
}

/* REVIEWS */

.review_quotes {
    position: absolute;
    top: -18px;
    left: 940px;
}

.reviews_content .review_text {
    text-align: justify;
    font-family: SF Pro Display Italic;
    font-size: 1.2rem;
}

.review_author_photo img {
    width: 70px;
    margin-right: 10px;
}


.reviews_content .review_author {
    color: #333333;
    font-size: 1.2rem;
}

.review_separator {
    background-color: #e1e4e8;
    height: 3px;
    border-radius: 5px;
    margin: 30px auto 30px auto;
}

/* CONTACT */
.contacts a,
.contacts p,
.contacts a:hover {
    color: #4d545e;
    text-decoration: none;
    /* font-size: 1.1rem; */
    font-family: SF Pro Display Medium;
}

.contacts h5 {
    font-family: SF Pro Display Medium;
}

.contacts i {
    color: #4d545e;
}

.information input,
.information textarea {
    font-family: SF Pro Display Light;
    color: #747d8a;
}