<template>
    <div id="my-strictly-unique-vue-upload-multiple-image">
        <vue-upload-multiple-image
            @upload-success="uploadImageSuccess"
            @before-remove="beforeRemove"
            :data-images="images"
            name="image[]"
            markIsPrimaryText="Images CRUD"
            dragText="Upload image"
            browseText="Drag and Drop"
            primaryText="Uploaded"
            popupText="Your image uploaded"
        ></vue-upload-multiple-image>
    </div>
</template>

<script>
    import VueUploadMultipleImage from 'vue-upload-multiple-image'

    export default {
        name: "ImageComponent",
        props: ['image', 'product_id'],
        components: {
            VueUploadMultipleImage,
        },
        data: function () {
            return {
                images: [],
                photos: [],
            }
        },
        mounted: function () {
            if (this.image != null) {
                for (let i = 0; i < this.image.length; i++) {
                    this.images.push({id: this.image[i].id, path: "/media/product/" + this.image[i].file_name});
                }
            }
        },
        methods: {
            uploadImageSuccess: function (formData, index, fileList) {
                if (this.product_id) {
                    axios.post('/admin_assets/image-upload/' + this.product_id, formData).then(response => {
                    })
                } else if (this.product_id == null){
                }
            },
            beforeRemove: function (index, done, fileList) {
                const r = confirm("Remove image?");
                if (r == true) {
                    axios.post('/admin_assets/image-destroy/' + this.images[index].id).then(response => {
                        done()
                    })
                } else {
                }
            },
        },
    }
</script>

<style>
    #my-strictly-unique-vue-upload-multiple-image {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    .image-edit {
        display: none !important;
    }
</style>
